*.mlmodelc filter=lfs diff=lfs merge=lfs -text
osx-ide/Resources/EmbeddingModels/*.mlmodelc filter=lfs diff=lfs merge=lfs -text
osx-ide/Resources/EmbeddingModels/**/*.bin filter=lfs diff=lfs merge=lfs -text
